<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thay đổi mật khẩu</title>
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"
        integrity="sha512-KUrAWA1oxsWKHBaA2mlZyRuR8zzzHHYgpDfkfPrT3FhlZ4YdXbXyE89VHI6WmWradSHtuZjLyLAMP2F7IWK4JQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!--Create Header of Website-->
    <div class="headers">
        <nav>
            <div class="logo">SaiSystem</div>
            <label for="btn" class="icon">
                <i class="fa fa-bars" class="btn"></i>
            </label>
            <input type="checkbox" name="" id="btn">
            <ul>
                <li><a href="index.html" id="home">Home</a></li>
                <li><a href="transcipt.html">Transcript</a></li>
                <li class="admin">
                    <label for="btn-1" class="show">User +</label>
                    <a href="showUser.html">User +</a>
                    <ul>
                        <li><a href="createUser.html">Create User</a></li>
                        <li><a href="showUser.html">List User</a></li>
                    </ul>
                </li>
                <li class="admin">
                    <label for="btn-1" class="show">Time Rate</label>
                    <a href="TimeRate.html">Time Rate +</a>
                    <ul>
                        <li><a href="createTimeRate.html">Create Time Rate</a></li>
                        <li><a href="TimeRate.html">List Time Rate</a></li>
                    </ul>
                </li>
                <li class="manager" ><a href="homeManager.html">Manager</a></li>
                <li><a href="changePassword.html" class="active">Change Password</a></li>
                <li id="logout"><a style="color: white;">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-4">
                    <h3 class="mb-3" class="title">Change Password</h3>
                    <form method="post" id="formChangePw">
                        <div class="mb-3">
                            <label for="" class="form-label">Password Now</label>
                            <input type="password" class="form-control" id="passwordnow" name="passwordnow"
                                aria-describedby="passwordnow" required onchange="$('#alert').hide();"/>
                            <p id="alert" style="color: red;display: none;"></p>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Password New</label>
                            <input type="password" class="form-control" id="passwordnew" name="passwordnew"
                                aria-describedby="passwordnew" required />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Confirm Password New</label>
                            <input type="password" class="form-control" id="repasswordnew" name="repasswordnew"
                                aria-describedby="repasswordnew" required />
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary mt-3" id="changePw" style="width: 200px">Change Password</button>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <div class="modal">
                        <div class="modal-content" style="width: 40%;">
                            <span class="close">&times;</span>
                            <p>Thay đổi mật khẩu thành công !!! <i style='color:green;' class='fas fa-check-circle'></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div class="loader" style="width: 100%;text-align: center;">
        <div id="loading" class="spinner-border text-warning" style="width: 100px;height: 100px;" role="status"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#changePw').click(function () {
                if($("#formChangePw").valid()){
                    changePassword();
                }else{
                    return;
                }
            });
        });
        // function change Pw
        function changePassword() {
            username = document.cookie.split("=");
            var db = new Object();
            db.pwnow = $('#passwordnow').val();
            db.pwnew = $('#passwordnew').val();
            db.repwnew = $('#repasswordnew').val();
            db.username = username[1];
            $.ajax({
                type: "PUT",
                url: "http://127.0.0.1:8000/user/"+db.username+"/change-password",
                contentType: "application/json",
                data: JSON.stringify(db),
                dataType: "json",
                headers: {
                    "Authorization": "Basic " + btoa(db.username)
                },
                beforeSend: function(){
                    $(".loader").show();
                },
                success: function (resp) {
                    if (resp.status.match(200)) {
                        $('.modal').show();
                        $('.close').click(function () {
                            $('.modal').hide();
                            window.location.href = "http://127.0.0.1:5500/view/index.html";
                        });
                        $(window).on('click', function (e) {
                            if ($(e.target).is('.modal')) {
                                $('.modal').hide();
                            }
                            window.location.href = "http://127.0.0.1:5500/view/index.html";
                        });
                    }
                },
                error: function (resp) {
                    if (resp.status == 404) {
                        $('#alert').html(resp.responseJSON['content']);
                        $('#alert').show();
                    }
                },
                complete: function(){
                    $(".loader").hide();
                }
            });
        }
    </script>
</body>

</html>