<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>

<body>
    <!--Create Header of Website-->
    <div class="headers">
        <nav>
            <div class="logo">SaiSystem</div>
            <label for="btn" class="icon">
                <i class="fa fa-bars" class="btn"></i>
            </label>
            <input type="checkbox" name="" id="btn">
            <ul>
                <li><a href="index.html" id="home">Home</a></li>
                <li><a href="transcipt.html">Transcript</a></li>
                <li class="admin">
                    <label for="btn-1" class="show">User +</label>
                    <a href="showUser.html"  class="active">User +</a>
                    <ul>
                        <li><a href="createUser.html">Create User</a></li>
                        <li><a href="showUser.html">List User</a></li>
                    </ul>
                </li>
                <li class="admin">
                    <label for="btn-1" class="show">Time Rate</label>
                    <a href="TimeRate.html">Time Rate +</a>
                    <ul>
                        <li><a href="createTimeRate.html">Create Time Rate</a></li>
                        <li><a href="TimeRate.html">List Time Rate</a></li>
                    </ul>
                </li>
                <li class="manager"><a href="homeManager.html">Manager</a></li>
                <li><a href="changePassword.html">Change Password</a></li>
                <li id="logout"><a style="color: white;">LogOut</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="container mt-5">
                <div class="row justify-content-md-center">
                    <div class="col-12 createuser">
                        <div class="col-md-7 col-lg-12" style="text-align: center">
                            <form id="formCreateUser">
                                <h4 class="title pb-3">Create User</h4>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="fullname" class="form-label">Full Name</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="fullname" placeholder="Full Name"
                                            name="fullname" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="username" class="form-label">Username
                                            <span class="" style="font-size: 12px">(Required)</span></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="username" placeholder="Username"
                                            oninput="checkUsername()" name="username" required />
                                        <p id="alertUsername" class="ms-1" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="email" class="form-label">Email
                                            <span class="" style="font-size: 12px">(Required)</span><span
                                                class="text-danger"></span></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="email" class="form-control" id="email" name="email"
                                            oninput="checkEmail()" placeholder="you@example.com" required />
                                        <p id="alertEmail" class="ms-1" style="color: red"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="Age" class="form-label">Birthday<span
                                                class="text-muted"></span></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="date" class="form-control w-50" id="birthday" name="birthday"
                                            placeholder="10/05/1998" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="address" class="form-label">Address</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Ha Noi" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="position" class="form-label">Position
                                            <span class="" style="font-size: 12px">(Required)</span></label>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="rdoPosition3">Member</label>
                                                <input type="radio" name="rdoPosition" id="rdoPosition3" value="3" onchange="checkPosition()" />
                                                <p id="alertPosition" class="ms-1" style="color: red"></p>
                                            </div>
                                            <div class="col-6">
                                                <label for="rdoPosition2">Manager</label>
                                                <input type="radio" name="rdoPosition" id="rdoPosition2" value="2" onchange="checkPosition()" />
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <button type="button" class="btn btn-primary mt-3 w-25" id="createUser">Create
                                    User</button>
                                <button type="button" class="btn btn-danger mt-3 ms-3 w-25"
                                    id="backHomeAdmin">Exit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="modal">
                            <div class="modal-content" style="width: 400px">
                                <span class="close">&times;</span>
                                <p>
                                    Tạo user mới thành công !
                                    <i style="color: green" class="fas fa-check-circle"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="modal1">
                            <div class="modal-content" style="width: 400px">
                                <span class="close">&times;</span>
                                <p id="title-modal"></p><i style="color: red" class="fas fa-exclamation-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div class="loader" style="width: 100%;text-align: center;">
        <div id="loading" class="spinner-border text-warning" style="width: 100px;height: 100px;" role="status"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script>
        // check username 
        function checkUsername(){
            var user = new Object();
            user.username = $("#username").val();
            return getUsername(user);
        }
        // check email
        function checkEmail(){
            var user = new Object();
            user.email = $("#email").val();
            return getEmail(user);
        }
        // check position choose
        function checkPosition() {
            idposition = $("input[type='radio'][name='rdoPosition']:checked").val();
            if (idposition != null){
                return true;
            }
        }
        $(document).ready(function () {
            checkUrl();
            // click button create user new
            $("#createUser").click(function () {
                if($("#formCreateUser").valid()){
                    if (checkUsername() && checkEmail() && checkPosition()){
                        addUser();
                    }
                }else{
                    return;
                }
            });
            // click button back
            $("#backHomeAdmin").click(function () {
                window.location.href = "showUser.html";
            });
        });
        // function add user new
        function addUser() {
            var data = new Object();
            data.fullname = $("#fullname").val();
            data.username = $("#username").val();
            data.email = $("#email").val();
            data.birthday = $('#birthday').val();
            data.address = $("#address").val();
            data.idposition = $("input[type='radio'][name='rdoPosition']:checked").val();
            var username = document.cookie.split("=");
            $.ajax({
                url: "http://127.0.0.1:8000/admin/"+username[1]+"/users",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: "json",
                headers: {
                    "Authorization": "Basic " + btoa(username[1])
                },
                beforeSend: function(){
                    $('.loader').show();
                },
                success: function (resp) {
                    if (resp.status.match(200)) {
                        $(".modal").show();
                        $(".close").click(function () {
                            $(".modal").hide();
                            window.location.href = "http://127.0.0.1:5500/view/showUser.html";
                        });
                        $(window).on("click", function (e) {
                            if ($(e.target).is(".modal")) {
                                $(".modal").hide();
                            }
                            window.location.href = "http://127.0.0.1:5500/view/showUser.html";
                        });
                    }
                },
                error: function (resp) {
                    $('#title-modal').html(resp.responseJSON.content);
                    $(".modal1").show();
                    $(".close").click(function () {
                        $(".modal1").hide();
                    });
                    $(window).on("click", function (e) {
                        if ($(e.target).is(".modal1")) {
                            $(".modal1").hide();
                        }
                    });
                },
                complete: function(){
                    $('.loader').hide();
                }
            });
        }
        // function check user
        function getUsername(db) {
            var result;
            var username = document.cookie.split("=");
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/check-username",
                data: db,
                dataType: "json",
                async: false,
                contentType: "application/json",
                headers: {
                    "Authorization": "Basic " + btoa(username[1])
                },
                success: function (resp) {
                    if (resp.status.match(200)) {
                        document.getElementById("alertUsername").style.display = "none";
                    }
                    result = true;
                },
                error: function (resp) {
                    if (resp.status == 400) {
                        document.getElementById("alertUsername").style.display = "block";
                        document.getElementById("alertUsername").innerHTML =resp.responseJSON["content"];
                    }
                    result = false;
                }
            });
            return result;
        }
        // function check email
        function getEmail(db) {
            var result;
            var username = document.cookie.split("=");
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8000/check-email",
                data: db,
                dataType: "json",
                async: false,
                contentType: "application/json",
                headers: {
                    "Authorization": "Basic " + btoa(username[1])
                },
                success: function (resp) {
                    if (resp.status.match(200)) {
                        document.getElementById("alertEmail").style.display = "none";
                    }
                    result = true;
                },
                error: function (resp) {
                    if (resp.status == 400) {
                        document.getElementById("alertEmail").style.display = "block";
                        document.getElementById("alertEmail").innerHTML =resp.responseJSON["content"];
                    }
                    result = false;           
                },
            });
            return result;
        }
        function checkUrl(){
            const obj = JSON.parse(localStorage.getItem('user'));
            if (obj[0].idposition != 1){
                location.href = "/view/index.html";
            }
        }
    </script>
</body>

</html>