<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In & Register !</title>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style-signin.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <!-- main -->
  <div class="container">
    <div class="wrapper" id="forgotPassword" style="display: block;">
      <div class="title"><span>Account</span></div>
      <div>
        <form>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Email" id="email" name="youremail" required />
          </div>
          <div class="row">
            <button type="button" id="submitEmail">Submit</button>
          </div>
          <div class="pass">Back to <a href="sign-in.html">Login</a></div>
        </form>
      </div>
      <div class="col-3">
        <div class="modal">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p>Check your email!!! <i style='color:green;' class='fas fa-check-circle'></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="modal1">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p> <span id="title"></span> <i style="color: red;" class="fas fa-exclamation-circle"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper" id="inputOTP" style="display: none;">
      <div class="title"><span>Please Enter OTP</span></div>
      <div>
        <form>
          <div class="row">
            <i class="far fa-keyboard"></i>
            <input type="number" placeholder="Please number OTP" id="numberOTP" name="numberOTP" oninput="$('#alert').hide();" required />
            <p id="alert" style="display: none;color: red;"></p>
          </div>
          <div class="row">
            <button type="button" id="submitOTP">Submit</button>
          </div>
          <div class="pass">Back to <a href="sign-in.html">Login</a></div>
        </form>
      </div>
      <div class="col-3">
        <div class="modal1">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p> <span id="title2" style="color: red;"></span> <i style="color: red;" class="fas fa-exclamation-circle"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper" id="reset" style="display: none;">
      <div class="title"><span>Change Password</span></div>
      <form id="resetPw">
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password new" id="passwordnew" name="passwordnew" required />
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Confirm password new" id="repasswordnew" name="repasswordnew" required />
        </div>
        <div class="row">
          <button type="button" id="btnChangePw" style="font-size: 20px;">Change Password</button>
        </div>
      </form>
      <div class="col-3">
        <div class="modal">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p>Thay đổi mật khẩu thành công ! <i style='color:green;' class='fas fa-check-circle'></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- loading -->
  <div class="loader" style="width: 100%;text-align: center;">
    <div id="loading" class="spinner-border text-warning" style="width: 100px;height: 100px;" role="status"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script src="js/forgotPw.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      var db = new Object();
      if (document.URL.split('=')[1]){
        $('#forgotPassword').css("display", "none");
        $('#inputOTP').css("display", "block");
        db.email = document.URL.split('=')[1];
      }
      $("#submitEmail").click(function () {
        db.email = document.getElementById("email").value;
        sendEmail(db);
      });
      $("#submitOTP").click(function () {
        db.numberOTP = document.getElementById("numberOTP").value;
        checkOTP(db);
      });
      $("#btnChangePw").click(function () {
        db.passwordnew = document.getElementById("passwordnew").value;
        if($('#resetPw').valid()){
          updatePasswordNew(db);
        }else{
          return;
        }
      });

    });
    // function send email
    function sendEmail(db) {
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/forgot-password",
        data: JSON.stringify(db),
        contentType: "application/json",
        dataType: "json",
        headers: {
          "Email": btoa(db.email)
        },
        beforeSend: function(){
          $('.loader').show();
        },
        success: function (resp) {
          if (resp.status.match(200)) {
            $('.modal').show();
            $('.close').click(function () {
              $('.modal').hide();
              $('#forgotPassword').css("display", "none");
              $('#inputOTP').css("display", "block");
            });
          }
        },
        error: function (resp) {
          $("#title").html(resp.responseJSON['content']);
          $('.modal1').show();
          $('.close').click(function () {
            $('.modal1').hide();
          });
          $(window).on('click', function (e) {
            if ($(e.target).is('.modal1')) {
              $('.modal1').hide();
            }
          });
        },
        complete: function(){
          $('.loader').hide();
        },
      })
    }
    // check OTP
    function checkOTP(db) {
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/checkotp",
        data: JSON.stringify(db),
        contentType: "application/json",
        dataType: "json",
        headers: {
          "Email": btoa(db.email)
        },
        beforeSend: function(){
          $('.loader').show();
        },
        success: function (resp) {
          if (resp.status.match(200)) {
            $('#inputOTP').css("display", "none");
            $('#reset').css("display", "block");
          }
        },
        error: function (resp) {
          if (resp.status == 404) {
            $("#title2").html(resp.responseJSON.content);
            $('.modal1').show();    
            $('.close').click(function () {
              $('.modal1').hide();
              location.href =  "/view/forgot-password.html";
            });
          }else{
            $('#alert').html("Wrong OTP code");
            $('#alert').show();
          }
        },
        complete: function(){
          $('.loader').hide();
        }
      });
    }
    // func update password new for user
    function updatePasswordNew(db) {
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/updatepwnew",
        data: JSON.stringify(db),
        contentType: "application/json",
        dataType: "json",
        headers: {
          "Email": btoa(db.email)
        },
        beforeSend: function(){
          $('.loader').show();
        },
        success: function (resp) {
          if (resp.status.match(200)) {
            $('.modal').show();    
            $('.close').click(function () {
              $('.modal').hide();
              location.href =  "/view/sign-in.html";
            });
          }
        },
        complete: function(){
          $('.loader').hide();
        }
      });
    }
  </script>
</body>

</html>