<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List User </title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
</head>
<body>
  <!--Create Header of Website-->
  <div class="headers">
    <nav>
        <div class="logo">SaiSystem</div>
        <label for="btn" class="icon">
            <i class="fa fa-bars" class="btn"></i>
        </label>
        <input type="checkbox" name="" id="btn">
        <ul>
            <li><a href="index.html" id="home">Home</a></li>
            <li><a href="transcipt.html">Transcript</a></li>
            <li class="admin">
                <label for="btn-1" class="show">User +</label>
                <a href="showUser.html"  class="active">User +</a>
                <ul>
                    <li><a href="createUser.html">Create User</a></li>
                    <li><a href="showUser.html">List User</a></li>
                </ul>
            </li>
            <li class="admin">
                <label for="btn-1" class="show">Time Rate</label>
                <a href="TimeRate.html">Time Rate +</a>
                <ul>
                    <li><a href="createTimeRate.html">Create Time Rate</a></li>
                    <li><a href="TimeRate.html">List Time Rate</a></li>
                </ul>
            </li>
            <li class="manager"><a href="homeManager.html">Manager</a></li>
            <li><a href="changePassword.html">Change Password</a></li>
            <li id="logout"><a style="color: white;">LogOut</a></li>
        </ul>
    </nav>
  </div>
  <!-- Main -->
  <div class="main">
    <div class="container-sm">
      <form method="get">
        <div class="row mb-2">
          <div class="col-3">
            <span class="me-3" style="font-weight: 500;font-size: 18px; ">Filter User</span><input type="button" style="font-size: 14px;" class="btn btn-danger" value="Reset Condition" name="resetBtn" id="resetBtn">
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-2">
            <select id="sel1" class="form-select" aria-label="Default select example" onchange="">
              <option value="all">By position</option>
              <option data-option="" value="2">Manager</option>
              <option data-option="" value="3">Member</option>
            </select>
          </div>
          <div class="col-2">
            <input type="number" class="form-control" name="" id="filterByYear" placeholder="By year">
          </div>
          <div class="col-2">
            <input type="text" class="form-control" name="" id="filterByName" placeholder="By name">
          </div>
          <button class="btn col-2" style="background-color: #0C9723;color: white;font-weight: 500;" type="button"
            id="filterCondition">Filter</button>
        </div>
      </form>
      <h3 class="col-12 text-center">List User</h3>
      <div class="row mb-3">
        <div class="col-2">
          <select id="sel2" class="form-select" aria-label="Default select example" onchange="getRecord()">
            <option value="fullname">Sort by fullname</option>
            <option data-option="4" value="position">Sort by position</option>
          </select>
        </div>
        <div class="col-3">
          <select id="sel" class="form-select" aria-label="Default select example" onchange="getRecord()">
            <option value="12">Get 12 record number</option>
            <option data-option="4" value="2">Get 2 record</option>
            <option data-option="4" value="4">Get 4 record</option>
            <option data-option="4" value="8">Get 8 record</option>
          </select>
        </div>
        <div class="col-3" style="line-height: 38px;" id="sumfilter">
          <!-- load sum filter user -->
        </div>
      </div>
      <table class="table table-striped border" width="100%">
        <thead>
          <tr>
            <th width="10%">STT</th>
            <th width="15%">Fullname</th>
            <th width="10%">Username</th>
            <th width="10%">Email</th>
            <th width="10%">Position</th>
            <th width="10%">Birthday</th>
            <th width="10%">Address</th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody id="loadUser">
          <!-- Load user -->
        </tbody>
      </table>
      <div class="col-3">
        <div class="modal">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p id="title-modal" style="color: red;"></p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="modal2">
          <div class="modal-content" style="width: 400px;">
            <span class="close">&times;</span>
            <p id="title-modal2" style="color: red;"></p>
          </div>
        </div>
      </div>
      <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa user?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- load modal body -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" id="deleteConfirmUser">Delete User</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="modal1">
            <div class="modal-content" style="width: 400px;">
                <span class="close">&times;</span>
                <p>Xóa user thành công <i style="color: green;" class="fas fa-check-circle"></i></p>
            </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 100px;;">
      <ul class="pagination pagination-sm" id="addPagination">
        <!-- load pagination -->
      </ul>
    </div>
  </div>
  <!-- loading -->
  <div class="loader" style="width: 100%;text-align: center;">
    <div id="loading" class="spinner-border text-warning" style="width: 100px;height: 100px;" role="status"></div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script>
    // get record
    function getRecord() {
      var data = new Object();
      username = document.cookie.split("=");
      data.username = username[1];
      data.position = $("#sel1 option:selected").val();
      data.name = $('#filterByName').val();
      data.year = $('#filterByYear').val();
      data.pagination = 0;
      data.limit = $("#sel option:selected").val();
      data.sort = $("#sel2 option:selected").val();
      loadUser(data);
    }
    $(document).ready(function () {
      checkUrl();
      getRecord();
      // event click btn delete information user
      $('body').on('click', '#deleteUser', function () {
        var id = $(this).data('id');
        // show information user want delete in modal
        getInforUser(id);
        $('body').on('click', '#deleteConfirmUser', function () {
          $(".modal").hide();
          delUser(id);
        });
      });
      // event click btn filter user
      $('body').on('click', '#filterCondition', function () {
        getRecord();
      });
      $('body').on('click', '#resetBtn', function(){
        var data = new Object();
        document.getElementById("sel1").value = "all";
        document.getElementById("sel2").value = "fullname";
        document.getElementById("filterByName").value = "";
        document.getElementById("filterByYear").value = "";
        document.getElementById("sel").value = 12;
        getRecord();
      });
    });
    // add active btn pagination
    function addActive(number){
      var btnPagination = document.querySelectorAll(".page-item button");
      if (location.href.split('=')[2] == number){
        $("#pagination"+number).addClass(" btn-success");
      }
    }
    // get infor user by id
    function getInforUser(id) {
      var username = document.cookie.split("=");
      $.ajax({
        type: "GET",
        url: "http://127.0.0.1:8000/admin/"+username[1]+"/users/" + id,
        dataType: "json",
        contentType: "application/json",
        headers: {
          "Authorization": "Basic " + btoa(username[1])
        },
        beforeSend: function () {
          $(".loader").show();
        },
        success: function (resp) {
          var str = "";
          str += "<div>Full name : " + resp[0].fullname + "</div>";
          str += "<div>Username : " + resp[0].username + "</div>";
          str += "<div>Email : " + resp[0].email + "</div>";
          $(".modal-body").html(str);
          $('#exampleModal').show();
        },
        complete: function(){
          $(".loader").hide();
        }
      });
    }
    // delete user
    function delUser(id) {
      var username = document.cookie.split("=");
      $.ajax({
        url: "http://127.0.0.1:8000/admin/"+username[1]+"/users/" + id,
        type: 'DELETE',
        headers: {
          "Authorization": "Basic " + btoa(username[1])
        },
        beforeSend: function(){
          $(".loader").show();
        },
        success: function (resp) {
          $(".modal1").show();
          $(".close").click(function () {
            $(".modal1").hide();
            getRecord();
          });
          $(window).on("click", function (e) {
            if ($(e.target).is(".modal1")) {
              $(".modal1").hide();
              getRecord();
            }
          });
        },
        complete: function(){
          $('.loader').hide();
        }
      });
    }

    // load information user
    function loadUser(data) {
      var username = document.cookie.split("=");
      $.ajax({
        type: "GET",
        url: "http://127.0.0.1:8000/admin/"+data.username+"/users",
        data: data,
        dataType: "json",
        contentType: "application/json",
        headers: {
          "Authorization": "Basic " + btoa(username[1])
        },
        beforeSend: function () {
          $(".loader").show();
        },
        success: function (resp) {
          page = Math.ceil(resp[0]['count'] / data['limit']);
          var sumfilter = "<p> Has "+resp[0]['count']+" record</p>";
          $('#sumfilter').html(sumfilter);
          location.replace("http://127.0.0.1:5500/view/showUser.html#l="+data.limit+"&p="+data.pagination);
          var str1 = "";
          for (var i = 0; i < page; i++) {
            str1 += "<li class='page-item px-2 py-2'><button class='btn' style='border:1px solid #dee2e6;' id='pagination" + i + "' data-id='" + i + "'>" + (i + 1) + "</button></li>";
            $('body').on('click', '#pagination' + i, function () {
              var id = $(this).data('id');
              data.position = $("#sel1 option:selected").val();
              data.name = $('#filterByName').val();
              data.year = $('#filterByYear').val();
              data.limit = document.getElementById("sel").value;
              data.pagination = id;
              loadUser(data);
            });
          }
          $('#addPagination').html(str1);
          addActive(data.pagination);
          var str = "";
          $.each(resp, function (i, item) {
            str += "<tr>";
            str += "<th width='10%'>" + (data.limit*data.pagination + i + 1) + "</th>";
            str += "<td width='15%'>" + item.fullname + "</td>";
            str += "<td width='10%'>" + item.username + "</td>";
            str += "<td width='10%'>" + item.email + "</td>";
            str += "<td width='10%'>" + item.name + "</td>";
            if (item.birthday == 'None'){
              str += "<td width='10%'> --- </td>";
            }else{
              str += "<td width='10%'>" + item.birthday.slice(8, 10) + "-" + item.birthday.slice(5, 7) + "-" + item.birthday.slice(0, 4) + "</td>";
            }
            str += "<td width='10%'>" + item.address + "</td>";
            str += "<td class='col-sm-2'>";
            str += "<button type='submit' id='editUser' class='btn btn-warning'><a href='/view/editUser.html?id="+ item.iduser + "'>Edit</a></button>";
            str += "<button type='submit' id='deleteUser' class='btn btn-danger ms-2' data-id='" + item.iduser + "' data-bs-toggle='modal' data-bs-target='#exampleModal'>Delete</button>";
            str += "</td>";
            str += "</tr>";
          });
          $('#loadUser').html(str);
          
        },
        error: function (resp) {
          if (resp.status == 404) {
            $('#title-modal2').html("Không có user !");
            document.getElementById("sel1").value = "all";
            document.getElementById("filterByName").value = "";
            document.getElementById("filterByYear").value = "";
            $('.modal2').show();
            $('.close').on('click', function () {
              $('.modal2').hide();
            });
            $(window).on('click', function (e) {
              if ($(e.target).is('.modal2')) {
                $('.modal2').hide();
              }
            });
          }
        },
        complete: function () {
          $(".loader").hide();
        },
      })
    }
    function checkUrl(){
      const obj = JSON.parse(localStorage.getItem('user'));
      if (obj[0].idposition != 1){
          location.href = "/view/index.html";
      }
    }
  </script>
</body>

</html>